*{
    box-sizing: border-box;
}
.header {
    margin: 10px 20px;
    span>select{
    border: none;
    font-family: cursive;
    cursor: pointer;
    font-size: 1.05Em;
    }
}

.header_1stLine {
    >form {
        width: 100%;
        margin: 10px;
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        div:first-child{
            position: relative;
        }
        img{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            left: -25px;
            cursor: pointer;
        }
        input{
            margin: 0 5px;
        }
    }
}

.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
        >*{
            margin: 10px 50px 10px 0px;
            font: 16px Roboto;
            border: none;
        }
        >select{
            cursor: pointer;
        }
}
.visible{
    visibility: visible !important;
}
.formColor{
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 190px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    left: -10px;
    background-color: #5e5e5e;
    visibility: hidden;
    >label{
        color: aliceblue;
    }
}
.color-container{
    position: relative;
    >span{
        cursor: pointer;
    }
}

.color-select{
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    gap: 5px
}

.span-container{
    display: inline-flex;
}

.no_results{
    margin: 40px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #e0e0e0;
}

.imgField {
    height: 30vh;
    margin: 2px;
        img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
.infoLine {
    height: 32px;
    font-size: .9Em;
    display: flex;
    position: relative;
    top: -36px;
    padding: 6px 0 0px 2px;
    color: white;
    opacity: 0;
    transition: 0.8s;
    background-image: linear-gradient(to top, rgba(black, 0.7) 0%, rgba(black, 0.3) 60%, rgba(black, 0) 100%);    
    img{
        width: 20px;
        height: 22px;
    };
    :last-child{
        display: flex;
    }
}

.pages{
    display: inline-flex;
}

.navPages{
    float: right;
    display: inline-flex;
    align-items: center;
    *{
        margin: 5px;
    }
}

.bigIMG_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.big-img {
    position: relative;
    top: 20px;
    img{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .big-img{
        width: 100%;
    }
    .infoLine{
        opacity: .7;
    }
    .imgField{
        height: 38vh;
    }
}
.author {
    img {
        border-radius: 40%;
        width: 90px;
        height: 90px;
    }
    margin: 50px;
    font-size: large;
}
nav {
    margin-top: 20px;
    height: 30px;
}

.downLine{
    margin: 15px;
    >:first-child * {
        margin: 2px;
    }
}

.MuiFormControlLabel-root{
    margin-left: 0 !important;
}