*{
    box-sizing: border-box;
}
.header {
    margin: 10px 20px;
    span>select{
    border: none;
    font-family: cursive;
    cursor: pointer;
    font-size: 1.05Em;
    }
}

.header_1stLine {
    >form {
        margin: 5px 40px;
        display: inline-flex;
        justify-content: space-between;
        width: 70%;
        div:first-child{
            position: relative;
        }
        img{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            left: -25px;
            cursor: pointer;
        }
        >input{
            margin: 0 10%;
        }
    }
    span{
        float: right;
        margin-right: 2%;
    }
}
.options{
        >*{
            margin: 10px 50px 10px 0px;
            font: 14px Arial;
            border: none;       
         }
}
.visible{
    visibility: visible !important;
}
.formColor{
    >*{
        margin: 5px;
    }
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 190px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    left: -10px;
    background-color: #5e5e5e;
    visibility: hidden;
    >label{
        color: #ededed;
        font-weight: initial;
    }
}
.color-container{
    position: relative;
    >span{
        cursor: pointer;
    }
}
.options>select{
    cursor: pointer;
}
.color-select{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 5px
}

.span-container{
    display: inline-flex;
}

.no_results{
    margin: 40px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.imgField {
    height: 40vh;
    margin: 3px;
    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .infoLine {
        font-size: .87Em;
        display: flex;
        position: relative;
        top: -28px;
        padding: 2px;
        color: white;
        width: fit-content;
        opacity: 0;
        transition: 0.8s;
        background: {
            image: linear-gradient(gray, black);       
        };
        img{
            width: 20px;
            height: 20px;
            background-color: white;
        };
        :last-child{
            display: flex;
        }
    }
}
.pages, .navPages button{
    cursor: pointer;
}
.navPages{
    button:hover{
        font-weight: bold;
        color: #d45725;
        box-shadow: #0a3d71 2px 2px 3px 0px;
    }
    float: right;
}
.navPages * {
    margin: 5px;
}
.bigIMG_container{
    display: flex;
    justify-content: space-around;
}
.big-img {
    position: relative;
    top: 20px;
    left: 20px;
}

.author {
    img {
        border-radius: 40%;
        width: 90px;
        height: 90px;
    }
    margin: 50px 30px 0 0;
}
nav {
    margin-top: 20px;
    height: 30px;
}
.navi-button {
    margin: 10px;
    text-decoration: none;
}
.downLine{
    margin: 25px;
}