.main-container {
    width: 200px;
    display: inline-block;
  }
  .fields-container {
    position: absolute;
  }
  .active-item {
    background-color: lightskyblue;
    font-size: large;
  }
  .all-items, .active-item, [type=submit] {
    cursor: pointer;
  }
  