.item-active {
    background-color: lightskyblue;
    font-size: large;
}
.main-container {
    display: inline-block;
    width: 200px;
}
.fields-container {
    position: absolute;
}
.item, .item-active {
    /* background-color: rgb(95, 71, 95); */
    /* color: maroon; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* cursor: pointer; */
}
.item-active, .item, [type=submit] {
    cursor: pointer;
}