.main {
    background-color: black;
    height: 700px;
    color: white;
}
.container {
    display: flex;
    align-items: flex-start;
}
.container div {
    width: 30%;
    text-align: center;
}
nav{
    background-color: #128412;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
    color: white;
}
nav a {
    color: inherit;
    padding: 5px;
    border: black;
    border-style: groove;
    border-width: 7px;
    flex-basis: 120px;
    text-align: center;
}
.basic{
    color: inherit !important;
}
.hover, nav a:hover {
    background-color: black;
    outline: inset;
}
/*nav a:hover, nav a:focus {
    background-color: black;
    outline: inset;
}*/
img {
    position: relative;
    cursor: pointer;
}
.zaklecia{
    top: 80px;
}
.miotly{
    top: 180px;
}
.mikstury{
    top: 70px;
}
.gwiazdki {
    margin-top: 40px;
    animation: gwiazdki 15s ease-in-out 0s infinite alternate;
}
@keyframes gwiazdki {
    0% {left: -10%}
    50% {transform: rotate(45deg);}
    100% {left: 100%}
}