div{
    float: left;
    width: 25%;
    text-align: center;
    height: 550px;
}
header a{
    color: initial;
    text-align: center;
    font-weight: bold;
    font-size: calc(1vh + 2vw);
    text-decoration: red double underline;
    width: 100%;
    margin-top: 15px;
}
.main{
    width: 100%;
    border: thin dotted black;
    background-image: url('gwiazdki.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 30%;
}
div > span {
    padding: calc(4vh + 5vw);
    background-image: url('ubrania.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: calc(1vh + 1vw);
    position:relative;
}
select{
    position: absolute;
    color: rgb(255, 123, 0);
    opacity: 0.8;
}
.ubrania select {
    top: calc(18vh + 25px);
    left: 9vw;
}
.ubrania span {
    top: 10vh;
}
.wakacje span {
    top: 35vh;
}
ul{
    position: absolute;
}
.wakacje ul {
    top: calc(53vh + 30px);
    left: 29vw;
}
.zajecia span {
    top: 20vh;
}
.zajecia ul {
    top: calc(40vh + 25px);
    left: 55vw;
}
.ogrodnictwo span {
    top: 35vh;
}
.ogrodnictwo select{
    top: calc(43vh + 25px);
    left: 82vw;
}
option{
    color: black;
}
::marker{
    content: none;
}
.okno {
    position: absolute;
    top: 30vh; left: 30vw;
    border: double thick red;
    background-color:gold;
    padding: 30px;
    width: 550px;
    height: auto;
    color:red;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}
li a:hover {
    color: red;
}
